<div class="container">
  <div class="row py-4">
    <% if @item.errors.any? %>
      <ul class="alert alert-danger" role="alert">
        <h6 class="alert-heading">
        <%= @item.errors.count %>件のerrorが発生しました</h6>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    </div>
    <div class="row mx-5">
      <h3>商品新規登録</h3>
    </div>
  <div class="row d-flex justify-content-center">

      <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
        <div class="form-group row">
          <%= f.label :商品画像, class: "col-md-4 col-form-label" %>
          <%= f.file_field :item_image, accept: "image/*", class: "col-md-8" %>
        </div>

        <div class="form-group row">
          <%= f.label :商品名, class: "col-md-4 col-form-label" %>
          <%= f.text_field :name, class: "form-control col-md-8" %>
        </div>
        <div class="form-group row">
          <%= f.label :商品説明, class: "col-md-4 col-form-label" %>
          <%= f.text_area :explanation, class: "form-control col-md-8" %>
        </div>
        <div class="form-group row">
          <%= f.label :ジャンル, class: "col-md-4 col-form-label" %>
          <%= f.select :genre_id,  options_from_collection_for_select(Genre.all, :id, :name), include_blank: '選択してください', class: "form-control col-md-8"  %><br>
        </div>
        <div class="form-group row">
          <%= f.label :税抜き価格, class: "col-md-4 col-form-label" %>
          <%= f.text_field :not_tax_price, class: "form-control col-md-7" %><span class="col-md-1">円</span>
        </div>
        <div class="form-group row">
          <%= f.label :販売ステータス, class: "col-md-4 col-form-label" %>
          <%= f.radio_button :is_active, :販売中 %>
          <%= f.label :is_active, "販売中" , class: "col-form-label mr-4"%>
          <%= f.radio_button :is_active, :販売停止 %>
          <%= f.label :is_active, "販売停止", class: "col-form-label" %>
        </div>
        <div class= "actions text-center">
          <%= f.submit  "新規登録",class: "btn btn-success" %>
        </div>
    <% end %>
  </div>
  <!--</div>-->
</div>
