<div id="top" class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="top-genres mt-4">
      ジャンル検索機能
      <%#= render 'admin/genres/genre_sidebar', genres: @genres%>
      </div>
    </div>
    <div class="col-md-9 ">
      <div class="mb-4">
          <div class="top-box mt-4 ">
            <div class="card" style="background-size: cover;" >
              <img class="card-img " src="/assets/TOP画像2.jpg" alt="">
              <div class="card-img-overlay">
                <h4 class="text-black">ようこそ、ながのCAKEへ！</h4>
                <p class="text-black">
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row pb-4">
    <div class="col-md-3"></div>
    <div class="col-md-9" >
    <div class="card" style="background-color:#F5DEB3;" >
        <div class="items">
            <h4>~Items~</h4>
        </div>

        <div class="row pickup-item">
        <% @random.each do |item| %>
        <div class="card-group col-3 px-4 mb-3">
            <div class="card text-center ">
    		        <%# if item.is_active == true %>
                  <%= link_to item_path(item) do %>
                    <%= image_tag item.get_item_image(100, 100) %><br>
                  <% end %>
                  <p><%= item.name %></p>
                  <p>¥<%= (item.not_tax_price*1.1).floor.to_s(:delimited)%>(税込)</p>
                <%# end %>
          </div>
         </div>
        <% end %>
    </div>
     <div class="text-right pr-1"><%= link_to "Check ALL>>", items_path %></div>
    </div>

  </div>
</div>
<!-- <div class="">-->
<!-- </div>-->