<div class="container">
  <div class="row pt-4">
    <h3>注文情報確認</h3>
  </div>
  <div class="row">
    <div class="col-xs-8 col-lg-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
                <!--%= image_tag, curt_item.item.get_item_image(180, 130) %>-->
                <%= cart_item.item.name %>
            </td>
            <td>¥<%= (cart_item.item.not_tax_price * 1.1).floor.to_s(:delimited) %>円</td>
            <td><%= cart_item.quantity %></td>
            <td>¥<%= (cart_item.item.not_tax_price * cart_item.quantity * 1.1).floor.to_s(:delimited) %>円</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-xs-3 col-lg-3">
      <table class="table table-bordered">
        <%= form_with model: @order, url: orders_path, local: true do |f| %>
          <tr>
            <th>送料</th>
            <td>
                ¥<%= @order.postage.to_s(:delimited) %>円
                <%= f.hidden_field :postage, :value => @order.postage %>
            </td>
          </tr>
          <tr>
            <th>商品合計</th>
            <td>
              ¥<%= @total_price.to_s(:delimited) %>円
            </td>
          </tr>
          <tr>
            <th>請求金額</th>
            <td>
              ¥<%= (@total_price + 800).to_s(:delimited) %>円
              <%= f.hidden_field :amount, :value => (@total_price + 800) %>
            </td>
          </tr>
      </table>
    </div>

    <div class="col-xs-8 col-lg-8">
      <table class="table table-borderless">
        <tr>
          <th><h3>支払方法</h3></th>
          <td>
            <h4><%= @order.pay %></h4>
            <%= f.hidden_field :pay, :value => @order.pay %>
          </td>
        </tr>
        <tr>
          <th><h3>お届け先</h3></th>
          <td>
            <%= "〒" %>
            <%= @order.postal_code.to_s.insert(3, "-") %>
            <%= f.hidden_field :postal_code, :value => @order.postal_code %>
            <%= @order.address %></br>
            <%= f.hidden_field :address, :value => @order.address %>
            <%= @order.name %>
            <%= f.hidden_field :name, :value => @order.name %>
          </td>
          <td><%= link_to "情報入力へ戻る", new_order_path, class: "text-right" %></td>
        </tr>
      </table>
    </div>
  </div>
    <div class="py-4 text-center">
      <%= f.submit "購入を確定する", class: "btn btn-success text-center" %>
    </div>
    <% end %>
</div>