<!DOCTYPE html>
<html>
  <head>
    <title>NAGANOCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/c8df76fea2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png', class: 'logo' %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
               <!--顧客ログイン時-->
              <% if member_signed_in? %>
                <li class="nav-item mx-3">
                 ようこそ<strong> <%= current_member.last_name %>さん！</strong>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to members_my_page_path(current_member) do %><!--河内担当-->
                  <i class="fa-solid fa-user-gear">マイページ</i>
                  <% end %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to items_path  do %>
                  <i class="fa-sharp fa-solid fa-cake-candles">商品一覧</i>
                  <% end %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to  cart_items_path  do %>
                  <i class="fa-solid fa-cart-shopping">カート</i>
                  <% end %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to destroy_member_session_path, method: :delete do %>
                  <i class="fa-solid fa-right-from-bracket">ログアウト</i>
                  <% end %>
                </li>
               <!--管理者ログイン時-->
              <% elsif admin_signed_in? %>
                <li class="nav-item mx-3">
                  <%#= link_to items_path  do %><!--OK-->
                  <i class="fa-sharp fa-solid fa-cake-candles">商品一覧</i>
                  <%# end %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to admin_members_path  do %>
                  <i class="fa-solid fa-users">会員一覧</i>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to admin_path  do %>
                  <i class="fa-solid fa-memo-circle-check">注文履歴一覧</i>
                  <% end %>
                </li>
                <li class="nav-item mx-3">
                  <%#= link_to genres_path  do %><!--河内担当-->
                  <i class="fa-solid fa-list-radio">ジャンル一覧</i>
                  <%# end %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to destroy_admin_session_path, method: :delete do %>
                  <i class="fa-solid fa-right-from-bracket">ログアウト</i>
                  <% end %>
                </li>
              <!--顧客・管理者ログアウト時-->
              <% else %>
                <li class="nav-item mx-3">
                  <%= link_to about_path, class: 'nav-link text-dark' do %>
                   <i class="fa-solid fa-house-chimney">About</i>
                  <% end %>
                </li>
                <li class="nav-item mx-3">
                  <%#= link_to items_path, class: 'nav-link text-dark' do %><!--OK-->
                   <i class="fa-sharp fa-solid fa-cake-candles">商品一覧</i>
                  <%# end %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to  new_member_registration_path, class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-user-plus">新規登録</i>
                  <% end %>
                </li>
                <li class="nav-item mx-3">
                  <%= link_to  new_member_session_path, class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-right-to-bracket">ログイン</i>
                  <% end %>
                </li>
              <% end %>
            </ul>
      </div>
    </nav>
    </header>
    <main>
      <%= flash[:notice] %>
      <%= yield %>
    </main>
    <footer class="p-3">
      <% unless admin_signed_in? %>
        <%= link_to  new_admin_session_path, class: 'nav-link text-dark' do %>
          <i class="fa-solid fa-key"></i>
        <% end %>
      <% end %>
      </footer>
    <!--</div>-->
  </body>
</html>
